imagePullSecrets: []

release:
  cacheServiceTag: v1.3.2
  requestServiceTag: v1.3.2
  subscriptionServiceTag: v1.3.2

config:
  arangoDB: jalapeno-arangodb.jalapeno.svc.cluster.local:8086
  arangoDBUser: root
  arangoDBPassword: jalapeno
  arangoDBName: jalapeno
  redisPassword: a-very-complex-password-here
  sentinelPassword: a-very-complex-password-here
  sentinelAddress: jagw-redis.jagw-dev.svc.cluster.local:26379
  sentinelMaster: mymaster
  kafkaAddress: kafka.jalapeno.svc.cluster.local:9092
  influxDBUrl: influxdb.jalapeno.svc.cluster.local:8086
  influxDBUser: admin #root # needs to match influxUser in Jalapeno Deployment
  influxDBPassword: gsplabgsplab # jalapeno # needs to match influxPassword in Jalapeno deployment
  influxDB: mdt_db

subscriptionService:
  name: subscription-service
  replicas: 1
  image:
    repository: ghcr.io/jalapeno-api-gateway/subscription-service
    pullPolicy: Always
  resources: []
  config:
    appServerAddress: 0.0.0.0
    appServerPort: 9000
  logLevel: trace

cacheService:
  name: cache-service
  replicas: 1
  image:
    repository: ghcr.io/jalapeno-api-gateway/cache-service
    pullPolicy: Always
  resources: []
  logLevel: trace

requestService:
  name: request-service
  replicas: 1
  image:
    repository: ghcr.io/jalapeno-api-gateway/request-service
    pullPolicy: Always
  resources: []
  config:
    appServerAddress: 0.0.0.0
    appServerPort: 9000
  logLevel: trace

# Official bitnami/stable charts
# The charts are defined in the Charts.yaml as dependency
# https://artifacthub.io/packages/helm/bitnami/redis
redis:
  global:
    redis:
      password: a-very-complex-password-here

  image:
    registry: docker.io
    repository: bitnami/redis
    tag: 7.0.4-debian-11-r17

  sentinel:
    enabled: true

proxy:
  name: envoy-proxy
  replicas: 1
  image:
    repository: envoyproxy/envoy
    pullPolicy: Always
    tag: v1.20.7
  resources: []
  config:
    appServerAddress: 0.0.0.0
    appServerPort: 9901
    subscriptionServicePort: 9902
    requestServicePort: 9903
    service:
      type: LoadBalancer
      loadBalancerIP: "152.96.8.37" # Omit for automatic IP assignment
      # nodePort: Optional (only if NodePort is used)
      # subscriptionServiceNodePort: 31146
      # requestServiceNodePort: 31147
